Complaint_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2a2db4d2-00e6-4fb8-85b2-df6a8d92a5d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://0a732442fb8e.ngrok-free.app/complaints",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"open\",\n  \"hours\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "cef55e8b-7480-4b07-a984-5d5a6eab41c4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "6332026212",
        "text": "=Новый отзыв: {{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        -80
      ],
      "id": "fb376da0-102d-457c-89d1-786727c0d459",
      "name": "Send a text message",
      "webhookId": "29aa3d0b-8c0f-4305-a3e9-190ae99f255b",
      "credentials": {
        "telegramApi": {
          "id": "aIcAe557WkV1RwcN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QX1VB8my6DkGLjBxtwBcJvLaDDlDAJDqQPpA0JfM864",
          "mode": "list",
          "cachedResultName": "test_sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QX1VB8my6DkGLjBxtwBcJvLaDDlDAJDqQPpA0JfM864/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "link"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $json.date }}",
            "Тональность": "={{ $json.sentiment }}",
            "Текст": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Текст",
              "displayName": "Текст",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тональность",
              "displayName": "Тональность",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        660,
        100
      ],
      "id": "734fd919-0711-47be-9553-9278b10059f3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nWZgkJkOg30vKzJ7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "техническая",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7dbc9578-189b-4926-8931-a9924143379d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "38ec336d-6c4d-4de1-93e6-9f6e381a0e78",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "оплата",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        0
      ],
      "id": "94637015-888a-48e0-bcc0-cf8fd5ae9b37",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        860,
        20
      ],
      "id": "d45512cf-5475-4da1-a311-a2070b7e98ae",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://0a732442fb8e.ngrok-free.app/complaints",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"id\": {{ $('Switch').item.json.id }},\n  \"status\": \"closed\"\n} ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": {{ $('Switch').item.json.id }},\n  \"status\": \"closed\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        20
      ],
      "id": "6c65820b-3021-4a08-bc68-7c5b9981e855",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fce46b5-dcd1-467a-bd8e-c63acc6debf2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62e8adf9d392b2bdc73773845b42e493019157adbb414b9edaacd633084ea936"
  },
  "id": "IOwbAktDRSPe7K5R",
  "tags": []
}